.foodGroup {
  width: 80%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:3%;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
 
}
