@import "../.././../../styles/variables/colors.module";

.paginationBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 18px 0px 0px;
  gap: 26.5px;
  width: 295.5px;
  height: 76px;
  .btn {
    display: flex;
    justify-content: center;
    background-color: none;
    align-items: center;
    gap: 10px;
    background: $milkWhiteBGColor;
    color: #ffb30e;
    .context {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: #ffb30e;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5%;
    width: 168px;
    height: 76px;
  }
}
