.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 24%;
  height: 46.5vh;
  border-radius: 16px;
  margin-top: 6%;
  .image {
    width: 100%;
    border-radius: 16px;
  }
}
