@import "../../../styles/variables/colors.module";

.loginButton {
  padding: 14px 24px;
  gap: 10px;
  width: 118px;
  height: 46px;
  background: $whiteBGColor;
  box-shadow: $loginButtonShadow;
  border-radius: 8px;
}
.loginText {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background: $loginButtonTextBG;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
