@import "../../../../styles/variables/colors.module";

@mixin buttonStyle($background: rgba(241, 114, 40, 0.1)) {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 10px 24px;
  gap: 10px;
  width: 15rem;
  height: 38px;
  background: $background;
  border-radius: 8px;
  border: none;
}

@mixin text($color: $orangeNavbarColor) {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: $color;
}

.deliveryPickup {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  width: 100%;
  height: 8.6rem;
  background: $whiteBGColor;
  align-self: stretch;
  border-radius: 1.6rem 1.6rem 0 0;
  .deliveryButton {
    @include buttonStyle;
    .deliveryText {
      @include text;
    }
  }
  .pickupButton {
    @include buttonStyle($background: none);
    .pickupText {
      @include text($color: $greyTextColor);
    }
  }
}
