@import "../../../../styles/variables/colors.module";

@mixin discountSign($font-wight: 700, $font-size: 26px) {
  color: $whiteBGColor;
  font-weight: $font-wight;
  font-size: $font-size;
}
.discount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 18px 11px;
  width: 40%;
  height: 8vh;
  bottom: 0;
  background: $yellowNavbarColor;
  border-radius: 0px 32px 0px 16px;
  .discountWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .discountAmount {
      width: 70%;
      height: 5vh;
      font-weight: 700;
      line-height: 106%;
      display: flex;
      justify-content: center;
      display: flex;
      align-items: center;
      color: $whiteBGColor;
      p {
        font-size: 5.5rem;
      }
    }
    .signs {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      line-height: 150%;
      padding-top: 5%;
      width: 31px;
      height: 35px;
      .percent {
        @include discountSign;
      }
      .off {
        @include discountSign(400, 16px);
        padding-top: 8%;
      }
    }
  }
}
