@import "./colors.module";

@mixin food-wagon-text($color: $orangeNavbarColor, $font-size: 3.1rem) {
  font-weight: 700;
  font-size: $font-size;
  line-height: 120%;
  letter-spacing: -0.025em;
  color: $color;
}

@mixin deliver-text {
  font-size: 18px;
  color: $textColor;
  line-height: 100%;
  text-align: center;
  
}

@mixin title($color: $titleBlackColor, $text-align: center) {
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  text-align: $text-align;
  color: $color;
}

@mixin text-title($color: $textDarkGreyColor, $text-align: center,$position:static,$margin-top:10px) {
  position: $position;
  margin-top: $margin-top;
  width: 307px;
  height: 26px;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-align: $text-align;
  color: $color;
}
