.popularItemSection {
  width: 80%;
  height: 51vh;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 4%;
  gap: 16px;
  .paginationBtn {
    position: absolute;
    width: 94%;
    display: flex;
    justify-content: space-between;
    left: 3%;
    top: 37%;
  }
}
