@import "../../../styles/variables/mixins";

.popularItemsWrapper{
  position: relative;
  width: 100%;
  height: 67vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    @include title;
  }
}
