@import "../../../styles/variables/colors.module";
@import "../../../styles/variables/mixins";

.deliverTo {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 0.7rem;
  height: 25px;
  .dark {
    @include deliver-text(700);
  }
  .light {
    @include deliver-text;
  }
}
