@import "../../../styles/variables/mixins";
@import "../../../styles//variables/colors.module";

.food-wagon {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 197px;
  height: 36.77px;
  .food {
    @include food-wagon-text;
  }
  .wagon {
    @include food-wagon-text($yellowNavbarColor);
  }
}
