@import "../../../styles/variables/colors.module";

.foodItem {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 45vh;
  padding: 1px;
  gap: 6%;
  .imageDiscount {
    position: relative;
    height: 30vh;
    .img {
      width: 100%;
      height: 30vh;
      background: $whiteBGColor;
      border-radius: 16px;
    }
  }
  .nameRemainingTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.5%;
    padding: 0px;
    gap: 14px;
    width: 205px;
    height: 82px;
    .text {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #424242;
    }
    .remainingText {
      padding: 8px 8px;
      gap: 10px;
      width: 140px;
      height: 35px;
      background: rgba(241, 114, 40, 0.2);
      border-radius: 8px;
      p {
        // font-weight: 700;
        font-size: 14px;
        // line-height: 120%;
        color: $orangeNavbarColor;
      }
    }
  }
}
