@import "../../../styles/variables/colors.module";

.foodItem {
  width: 22%;
  height: 44vh;
  padding: 1px;

  .img {
    width: 100%;
    height: 30vh;
    position: relative;
    background: $whiteBGColor;
    border-radius: 16px;
  }
  .nameRemainingTime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3.5%;
    padding: 0px;
    gap: 14px;
    width: 205px;
    height: 82px;
    .text {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      color: #424242;
    }
    .remainingText {
      padding: 8px 8px;
      gap: 10px;
      width: 140px;
      height: 35px;
      background: rgba(241, 114, 40, 0.2);
      border-radius: 8px;
      p {
        // font-weight: 700;
        font-size: 14px;
        // line-height: 120%;
        color: $orangeNavbarColor;
      }
    }
  }
}
